<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Mocha Javascript Tests</title>
    <link rel="stylesheet" href="../../../bower_components/mocha/mocha.css"/>
    {{#css_files}}
      <link rel="stylesheet" href="{{.}}"/>
    {{/css_files}}
  </head>
  <body>
    <div id="mocha"></div>
    <div id="mocha-fixture"></div>

    <!-- Mocha dependencies -->
    <script src="../../../bower_components/mocha/mocha.js"></script>
    <script src="../../../bower_components/chai/chai.js"></script>
    <script>
      assert = chai.assert;
      mocha.setup({
        ui: 'bdd'
      });
    </script>
    {{#_lib_files}}
      <script src="../../../{{.}}"></script>
    {{/_lib_files}}

    <!-- Source -->
    {{#_src_files}}
      <script src="../../../{{.}}" data-cover></script>
    {{/_src_files}}

    <!-- Tests -->
    {{#_test_files}}
      <script src="../../../{{.}}"></script>
    {{/_test_files}}

    <script src="/testem.js"></script>

    <!-- Start Mocha -->
    <script>
      mocha.run();
    </script>
  </body>
</html>
