<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QUnit Javascript Tests</title>
    <link rel="stylesheet" href="../../../bower_components/qunit/qunit/qunit.css"/>
    {{#styles}}<link rel="stylesheet" href="{{.}}">{{/styles}}
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <!-- QUnit dependencies -->
    <script src="../../../bower_components/rsvp/rsvp.js"></script>
    <script src="../../../bower_components/qunit/qunit/qunit.js"></script>
    {{#lib_files}}
      <script src="../../../{{src}}" {{{attr}}}></script>
    {{/lib_files}}
    <script src="/testem.js"></script>

    <!-- Source -->
    {{#serve_files}}<script src="../../../{{src}}" {{{../src_attr}}}></script>{{/serve_files}}
  </body>
</html>
